@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  ::selection {
    background: transparent;
  }

  input,
  textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }
}

@layer utilities {
  .section-padding {
    @apply px-4 sm:px-6 lg:px-8 py-16 md:py-24;
  }

  .max-container {
    @apply max-w-6xl mx-auto w-full;
  }
}

body.modal-open {
  overflow: hidden;
}
